
* {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: hsl(220, 15%, 55%);
    font-family: 'Outfit';
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#qrcard>img {
    max-width:210px;
    max-height: 210px;
    border-radius: 10px;
}

#qrcard {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    height: 360px;
    width: 233px;
}

.para {
    padding: 14px;
    text-align: center;
}

.p1 {
    color:hsl(218, 44%, 22%);
    font-weight: 700;
    margin-bottom: 7px;
}

.p2 {
    color:hsl(220, 15%, 55%);
    font-size: 13px;
}